<div align="center">

  <div class="container">
      <div class="col-md-4 col-sm-3"></div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group add-on" id="allCodesSearch">
          <input class="form-control" placeholder="Search some code" name="srch-term" id="srch-term" type="text">

          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" id="allCodesSearchBtn"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-3"></div>
  </div>

  <div class="container">
    <div *ngFor= "let code of codes" class="code">

      <h2>{{code.title}}</h2>

      <textarea readonly style="resize: none;">{{code.code}}</textarea>
      <br>

      <!--<button class="btn btn-success runBtn">Run code</button>
      <button class="btn editBtn" style="">Edit code</button>
      -->

      <div class="button-row">
          <button (click)="openEditor()" mat-raised-button style="background-color: #538380;"><span style="color: #E8F9F8">View in editor</span></button>
      </div>
    </div>
  </div>

</div>



