<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default" style="background-color: #538380">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color: #6D9B98;"></span>
        <span class="icon-bar" style="background-color: #6D9B98;"></span>
        <span class="icon-bar" style="background-color: #6D9B98;"></span>
      </button>
      <a class="navbar-brand" id="helloHeading" href="javascript:void(0)" style="color: #E8F9F8">{{currentUserName}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav mainUL">
        <li><a href="javascript:void(0)" (click)="hello('aHome')" [routerLink]="['/']" id="aHome">Home</a></li>
        <li><a [routerLink]="['/allCodes']" (click)="hello('aCodes')" href="javascript:void(0)" id="aCodes">All codes</a></li>
        <li *ngIf="isLoggedIn"><a [routerLink]="['/myAccount']" (click)="hello('aMyAccount')" href="javascript:void(0)" id="aMyAccount">My account</a></li>
        <li><a [routerLink]="['/lessons']" href="javascript:void(0)" id="aLessons" (click)="hello('aLessons')">Lessons</a></li>
        <li><a [routerLink]="['/contactUs']" href="javascript:void(0)" id="aContactUs" (click)="hello('aContactUs')">Contact us</a></li>
      </ul>
      <form *ngIf="!isLoggedIn" id="signin" class="navbar-form navbar-right" role="form">
        <span style="padding-right: 7px">
            <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" #email type="email" class="form-control" name="email" value="" placeholder="Email address or username">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" #password type="password" class="form-control" name="password" value="" placeholder="Password">
            </div>
        </span>
        <span  style="margin: 2px; padding-right: 17px">
            <button class="btn btn-primary" (click)="logIn(email.value, password.value)" style="background-color: #51CAB2;color: #E8F9F8; border: none;">Log in</button>
        </span>
        <span  style="margin: 2px; padding-right: 2px">
                  <a href="javascript:void(0)" [routerLink]="['/signUp']" class="btn btn-primary" style="background-color: #EAC99E; color: #E8F9F8; border: none;">Sign up</a>
        </span>
    </form>

    <form *ngIf="isLoggedIn" id="logOut" class="navbar-form navbar-right" role="form">
        <span  style="margin: 2px; padding-right: 7px">
              <button class="btn btn-primary" (click)="logOut()" style="background-color: #51CAB2;color: #E8F9F8; border: none;">Log out</button>
        </span>
    </form>

    <!--<ul class="nav navbar-nav navbar-right">
          <li><a href="#" style="color: #E8F9F8">Log out</a></li>
        </ul>-->
  </div>
  <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>


<div class="alert alert-danger enterUsernamePass" style="display: none">
      <strong>Please enter email/username and password!</strong> 
</div>

<div class="alert alert-danger wrongUsernamePass" style="display: none">
      <strong>Username/email</strong> or password is wrong
</div>

<div class="alert alert-danger fillAllRows" style="display: none">
      Please fill all rows
</div>

<div class="alert alert-danger userExists" style="display: none">
      User with entered username/email already exists
</div>

<div class="alert alert-success successfullSignUp" style="display: none">
      <strong>Cool, </strong>you've successfully sign up
</div>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer>
    <section id="footer" class="section footer">
      <div class="container">
        <div class="row align-center copyright">
          <div class="col-sm-12 text-center">
              <p>Angular 4</p>
              <p>Copyright &copy;  HCoder</p>
              
              <div class="credits">
                  Wep site is created by <a href="javascript:void(0)">the best programmer</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <a href="#" class="scrollup">up</a>
</footer>