<style type="text/css">

</style>

	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="big-box">
					<div class="col-lg-12">
						<div class="col-md-3">
							<div class="box-bg">
								<div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
									<div class="align-center">
										<img class="img-thumbnail" src="assets/img/codes.jpg" width="150" height="120">
										<h3 class="text-bold" style="color: #82CD72">Our codes</h3>
										<p class="codes">
											Our codes. Here you can find usefull codes - classes, functions, simple codes
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="box-bg">
								<div class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.6s">
									<div class="align-center">
										<img class="img-thumbnail" src="assets/img/html-code.jpg" width="200" height="140">
										<h3 class="text-bold" style="color: orange"> Welcome to HCoder</h3>
										<p class="main">
											Web site where you can find <br> 
											any code for your app
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="box-bg">
								<div class="wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.2s">
									<div class="align-center">
										<img class="img-thumbnail" src="assets/img/courses.png" width="150" height="120">
										<h3 class="text-bold" style="color: #63ABE0;">Our lessons</h3>
										<p class="lessons">
											Not familiar with some programming language or technology?
											We are here to help you. Go to <a href="javascript:void(0)">lessons</a> and discover something new.
										</p>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>					
			</div>
		</div>
		<hr/>	
		<div class="container">
			<div class="row">					
				<div class="wow bounceInRight">	
					<div class="col-lg-6">
						<h4>Maecenas luctus</h4>
						<p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. 
						Mei cu dicat voluptaria volumus.</p>
					</div>
				</div>
				<div class="wow bounceInLeft">
					<div class="col-lg-6">
						<h4>Maecenas luctus</h4>
						<p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. 
						Mei cu dicat voluptaria volumus.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
